
<table>
    <td>
      <mat-form-field>
        <input [formControl]="aeropuertoSalida" matInput placeholder="Ingrese su Salida" />
      </mat-form-field>
    </td>

    <td>
      <mat-form-field>
        <input [formControl]="aeropuertoLlegada" matInput placeholder="Ingrese su Destino" />
      </mat-form-field>
    </td>

    <ul>
        <li> </li>
    </ul>

</table>


<!--
<label for="aeropuertoSalida">
  Ingrese El Aeropuerto De Salida:
</label>

<input id="aeropuertoSalida"
       type="text"
       [formControl]="aeropuertoSalida" />


<label for="aeropuertoLlegada">
  Ingrese El Aeropuerto De Llegada:
</label>

<input id="aeropuertoLlegada"
       type="text"
       [formControl]="aeropuertoLlegada" />
  -->
