<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">


<body>
    <div class="background">
      <div class="container">
        <div class="button-container text-center">
          <div class="transparent-box">
            <h2 style="color: white;">Bienvenido a la página principal</h2>
            <div class="button-group row">
              <div class="col">
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-users"></i> Registrar Cliente</button>
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-plane"></i> Registrar Vuelo</button>
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-plane-departure"></i> Crear Viaje</button>

              </div>
              <div class="col">
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-person-walking-luggage"></i> Check-in Pasajero</button>
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-money-bill-1-wave"></i> Asignar Promociones</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  