<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">


<body>
    <div class="background">
      <div class="container">
        <div class="button-container text-center">
          <div class="transparent-box">
            <h2 style="color: white;">Bienvenido a la página principal</h2>
            <div class="button-group row">
              <div class="col">
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-plane"></i>Botón 1</button>
                <button type="button" class="btn btn-secondary">Botón 2</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-success">Botón 3</button>
                <button type="button" class="btn btn-danger">Botón 4</button>
                <button type="button" class="btn btn-warning">Botón 5</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  